@import "tailwindcss";

:root {
  --bg: 255 255 255;
  --text: 15 23 42;
  --primary: 59 130 246;
}

@theme {
  --color-bg: rgb(var(--bg));
  --color-text: rgb(var(--text));
  --color-primary: rgb(var(--primary));
}

/* Dark mode */
.dark {
  --dark: #05061B;
  --text: 226 232 240;
  --primary: 96 165 250;
}

::-webkit-scrollbar {
    display: none;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


